<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>¡Hola de nuevo
    <span>{{ (user$ | async)?.name | splicename }}!</span>
  </h2>
  <p>
    Estos son algunos de los nuevos articulos que te podrían interesar:
  </p>

  <ng-container [@cardsAnimation]="(page.data | async)?.length">
    <ng-container *ngFor="let card of page.data | async;trackBy:trackByFn; let i = index">
      <ion-card>
        <img style="padding:15px" (click)="openUrl(card.url_articulo)" [src]="card.url_img | sinfoto" onError="this.src='assets/img/noimage.png'"
        />
        <ion-card-content>
          <ion-card-title [innerHtml]="card.title" (click)="openUrl(card.url_articulo)"></ion-card-title>
          <p [innerHtml]="card.description" (click)="openUrl(card.url_articulo)"></p>

          <ion-row>
            <ion-col>
              <ion-note style="font-size: 14px; font-style:italic" [innerHtml]="card.date "></ion-note>
            </ion-col>
            <ion-col text-right>
              <p style="display:inline-block">
                <i [innerHtml]="card.source"></i>
              </p>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-row>
          <ion-col>

            <like-review [card]="card" [userId]="uid"></like-review>

          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>

    </ng-container>
    <p *ngIf="page.done | async">I ran out of boats!</p>
    <ion-infinite-scroll *ngIf="page.loading | async" (ionInfinite)="doInfinite($event)">

        <ion-infinite-scroll-content  loadingSpinner="bubbles" loadingText="Cargando más cards..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ng-container>

</ion-content>